:root {
  --color1: #f1c40f;
  --color2: #2c3e50;
  --color3: #1f928b;
  --speed: 4s;
}

html,
body {
  max-height: 100vh;
  background: var(--color3);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 8em;
}

@-webkit-keyframes slide {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 113px;
  }
}

@keyframes slide {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 113px;
  }
}

.container .bar {
  min-height: 70px;
  border-radius: 10px;
  width: calc(113px * 4);
  box-shadow: 0px 10px 13px -6px #2c3e50;
  background-color: var(--color2);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 40px, var(--color1) 40px, var(--color1) 80px);
  -webkit-animation: slide var(--speed) linear infinite;
  animation: slide var(--speed) linear infinite;
  will-change: background-position;
}

@media only screen and (max-width: 450px) {
  .container .bar {
    width: calc(113px * 3);
  }
}

@media only screen and (max-width: 350px) {
  .container .bar {
    width: calc(113px * 2);
  }
}